<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://knackgifterapi-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployServiceURL>knackgifterapi-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>knackgifterapi__test</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$knackgifterapi__test</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GiftKnacksProject.Api.EfDao.EfContext" Order="1" Enabled="False">
          <Destination Path="Endpoint=sb://knackgifterservicebustest.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=8/yS6s3DosARXMeervJTKGRd226c0PCi3z+9Px2GRlA=" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GiftKnacksProject.Api.EfDao.EfContext, GiftKnacksProject.Api.EfDao" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GiftKnacksProject.Api.EfDao.giftKnacksConnectionString" Order="2" Enabled="False">
          <Destination Path="Endpoint=sb://knackgifterservicebustest.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=8/yS6s3DosARXMeervJTKGRd226c0PCi3z+9Px2GRlA=" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GiftKnacksProject.Api.EfDao.giftKnacksConnectionString, GiftKnacksProject.Api.EfDao" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GiftKnacksProject.Api.EfDao.EfContext-Web.config Connection String">
      <ParameterValue>Endpoint=sb://knackgifterservicebustest.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=8/yS6s3DosARXMeervJTKGRd226c0PCi3z+9Px2GRlA=</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GiftKnacksProject.Api.EfDao.giftKnacksConnectionString-Web.config Connection String">
      <ParameterValue>Endpoint=sb://knackgifterservicebustest.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=8/yS6s3DosARXMeervJTKGRd226c0PCi3z+9Px2GRlA=</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GiftKnacksProject.Api.EfDao.EfContext" />
    <_ConnectionStringsToInsert Include="GiftKnacksProject.Api.EfDao.giftKnacksConnectionString" />
  </ItemGroup>
</Project>