<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="SiteUrl" value="http://knacksgifter.com"/>
    <add key="ApiUrl" value="http://giftknackapi.azurewebsites.net"/>
    <add key="StorageConnectionString"
      value="DefaultEndpointsProtocol=https;AccountName=giftknackstorage;AccountKey=+Pur8FdNRI6aXWcgmpBG0r8ARMNHx2KXr4G2NVVdFW18nqdOjUxShjN1qSRpJg0RkvjWdzJSkJLHI//TXfPlbQ=="/>
    <add key="Microsoft.ServiceBus.NotificationMQConnectionString"
      value="Endpoint=sb://giftknacknotifications.servicebus.windows.net/;SharedAccessKeyName=accessMq;SharedAccessKey=QGYHem0uQJjv8m5SnWgNREcjwbh+/H5bvP/LK6CoXRM="/>
    <add key="Microsoft.ServiceBus.MessagesMQConnectionString"
      value="Endpoint=sb://giftknacknotifications.servicebus.windows.net/;SharedAccessKeyName=acessMq;SharedAccessKey=Z6tkTJGYCrBxihPlV+vB2BQnReS3476qtxfS5bca9RI="/>
    <add key="DocumentDbEndpointUrl" value="https://giftknackdocuments.documents.azure.com:443/"/>
    <add key="DocumentDbAuthorizationKey" value="YXcvNg+Jt8iVLflFKfegEFMGMD72eqTIbunkN8px0A16dwCLjbo+zuCH/765kpeihN0zgOwKAtmhTzfwIC6qKw=="/>
  </appSettings>
  
  <connectionStrings xdt:Transform="Replace">
    <add name="giftKnacksConnectionString"
       connectionString="metadata=res://*/EfModel.csdl|res://*/EfModel.ssdl|res://*/EfModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mcrlojcb0r.database.windows.net,1433;initial catalog=GiftKnacks_db;persist security info=True;user id=Dr.Norton@mcrlojcb0r;password=Rianon1990;MultipleActiveResultSets=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;"
       providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>