<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="SiteUrl" value="http://knacksgifter.com"/>
    <add key="ApiUrl" value="http://knackgifterapi-test.azurewebsites.net"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=knackgifterstoragetest;AccountKey=0UDBdkLGG3gOmf9X1sJ9ZjkzX0ZvFhjhHGO4nsFBrhS3k89qb2SQ4cN0U1EgbzfaPhYwBS864duvbDbP36bNVQ=="/>
    <add key="Microsoft.ServiceBus.NotificationMQConnectionString" value="Endpoint=sb://knackgifterservicebustest.servicebus.windows.net/;SharedAccessKeyName=Rootmanage;SharedAccessKey=+XsaoUrmgI8Ex3pt2f3JyJwLdv9jTnTo8n7sTkTwPUk="/>
    <add key="Microsoft.ServiceBus.MessagesMQConnectionString" value="Endpoint=sb://knackgifterservicebustest.servicebus.windows.net/;SharedAccessKeyName=Rootmanage;SharedAccessKey=ZO/o8QSc+4OqEpSvRVoRJWkK5g+xw/doSlUfrldhefw="/>
    <add key="DocumentDbEndpointUrl" value="https://knackgifter.documents.azure.com:443/"/>
    <add key="DocumentDbAuthorizationKey" value="U0ur6+1hxS+aFTHbHlfH6WvWn27yjS77wX6sIhc2/Rzn3ZdfL2YZpVaot8oEyn3n6RqvtsI7+xcVJ9YK7yxFzA==;"/>
    <add key="giftKnacksConnectionString" value="metadata=res://*/EfModel.csdl|res://*/EfModel.ssdl|res://*/EfModel.msl;provider=System.Data.SqlClient;provider connection string='data source=sqlknackgifter.database.windows.net,1433;initial catalog=testgiftknackdatabase;persist security info=True;user id=Dr.Norton;password=Rianon1990;MultipleActiveResultSets=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework'"/>
    <add key="DocumentDatabaseName" value="knackgifter-test"/>
  </appSettings>


  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>