<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="SiteUrl" value="http://knacksgifter.com"/>
    <add key="ApiUrl" value="http://knackgifterapi.azurewebsites.net"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=knackgifterstorage;AccountKey=FjxQ7F25mZn64WhzfNqG34TKamTRDkXkbwkAI1ldSqGLrIUWKZO2jPh2BLmG+SBEX/3zmu0FK78WYn/e1qRM8A=="/>
    <add key="Microsoft.ServiceBus.NotificationMQConnectionString" value="Endpoint=sb://knackgifterservicebus.servicebus.windows.net/;SharedAccessKeyName=Rootmanage;SharedAccessKey=QO1loTSfkIfGIeMJPQIuxtQNhr5UjGPxgEfYTA97IMs="/>
    <add key="Microsoft.ServiceBus.MessagesMQConnectionString" value="Endpoint=sb://knackgifterservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManage;SharedAccessKey=JETyRfX8xhRZjtwuNUBbLDYPZvdf9MRVC4t9s0ypq4o="/>
    <add key="DocumentDbEndpointUrl" value="https://knackgifter.documents.azure.com:443/"/>
    <add key="DocumentDbAuthorizationKey" value="AccountEndpoint=U0ur6+1hxS+aFTHbHlfH6WvWn27yjS77wX6sIhc2/Rzn3ZdfL2YZpVaot8oEyn3n6RqvtsI7+xcVJ9YK7yxFzA==;"/>
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="giftKnacksConnectionString" connectionString="" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
  
  <!--<appSettings xdt:Transform="Replace">
   
  </appSettings>-->


  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>