<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://giftknackapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>giftknackapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>giftknackApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$giftknackApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="giftKnacksConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=sqlknackgifter.database.windows.net,1433;Initial Catalog=prodgiftknackdatabase;Persist Security Info=True;User ID=Dr.Norton;Password=Rianon1990;Connect Timeout=30;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=sqlknackgifter.database.windows.net,1433;Initial Catalog=prodgiftknackdatabase;Persist Security Info=True;User ID=Dr.Norton;Password=Rianon1990;MultipleActiveResultSets=True;Connect Timeout=30;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mcrlojcb0r.database.windows.net,1433;Initial Catalog=GiftKnacks_db;Persist Security Info=True;User ID=Dr.Norton@mcrlojcb0r;Password=Rianon1990;Connect Timeout=30;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\giftKnacksConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EfModel.csdl|res://*/EfModel.ssdl|res://*/EfModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mcrlojcb0r.database.windows.net,1433;initial catalog=GiftKnacks_db;persist security info=True;user id=Dr.Norton@mcrlojcb0r;password=Rianon1990;MultipleActiveResultSets=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)giftKnacksConnectionString-Web.config Connection String">
      <ParameterValue>metadata=res://*/EfModel.csdl|res://*/EfModel.ssdl|res://*/EfModel.msl;provider=System.Data.SqlClient;provider connection string="data source=sqlknackgifter.database.windows.net,1433;initial catalog=prodgiftknackdatabase;persist security info=True;user id=Dr.Norton;password=Rianon1990;multipleactiveresultsets=True;connect timeout=30;trustservercertificate=False;application name=EntityFramework;App=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>